.list-page-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.input-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  text-align: center;
  background: red;
  height: 100px;
  justify-items: center;
}
.list-input-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  justify-content: center;
}
.list-input {
  height: 38px;
  width: 60%;
  margin: 0;
  border: none;
}
.list-add-btn {
  border: none;
  height: 40px;
  width: 10%;
  font-size: large;
  margin: 0;
}
.list-add-btn:hover {
  background-color: gainsboro;
}
.list-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-direction: column;
}
.item-list {
  list-style: none;
  text-align: left;
  background-color: rgb(223, 218, 218);
  border-top: 1px solid white;
  padding: 0.6rem 0;
  width: 100%;
  padding-left: 8px;
}
.item-list:hover {
  background-color: rgb(241, 227, 227);
}
.todos-list {
  display: flex;
  border: hidden;
}
.close-btn {
  padding: 0.5rem 0.8rem;
  background-color: rgb(223, 218, 218);
  margin: 0;
  border-top: 1px solid white;
  border: hidden;
}
.close-btn:hover {
  background-color: red;
  color: wheat;
}
.completed-todo {
  text-decoration: line-through;
  list-style: none;
  text-align: left;
  background-color: rgb(179, 179, 179);
  border-top: 1px solid white;
  padding: 0.6rem 0;
  width: 100%;
  padding-left: 8px;
}
